@{
	Layout = null;
}

@helper RenderNavMenuItem(string title, string action, string controller, string area = "")
{
	var url = Url.Action(action, controller, new { Area = area }) ?? "/";
	bool isRoot = VirtualPathUtility.ToAppRelative(url) == "~/";

	bool isActiveItem = isRoot
		? Request.RawUrl.TrimEnd('/').Equals(url.TrimEnd('/'), StringComparison.InvariantCultureIgnoreCase)
		: Request.RawUrl.StartsWith(url, StringComparison.InvariantCultureIgnoreCase);

	if (isActiveItem)
	{
	<li class="active">
		<a href="@url">@title</a>
	</li>
	}
	else
	{
	<li>
		<a href="@url">@title</a>
	</li>
	}
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>@ViewBag.Title</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/site.css" rel="stylesheet" />

	<script>

		function addListener(element, type, callback) {
			if (element.addEventListener) element.addEventListener(type, callback);
			else if (element.attachEvent) element.attachEvent('on' + type, callback);
		}

		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-12512709-5', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<div class="container">
		<div class="row ths-site-header">
			<div class="col-md-4">
				<a class="ths-brand-name" href="@Url.Action("Index", "Home", new { Area = "" })">Thinking-Home.<span>System</span>
				</a>
				<a class="btn btn-default pull-right hidden-md hidden-lg js-btn-menu">
					<i class="fa fa-2x fa-bars"></i>
				</a>
			</div>

			<div class="col-md-8 hidden-sm hidden-xs js-menu">
				<ul class="nav nav-pills pull-right">
					@RenderNavMenuItem("Добро пожаловать!", "Index", "Home")
					@RenderNavMenuItem("С чего начать", "GettingStarted", "Home")
					@RenderNavMenuItem("Сценарии", "Scripts", "Home")
					@RenderNavMenuItem("Создание плагинов", "Plugins", "Home")
					@RenderNavMenuItem("UI для плагинов", "UiForPlugins", "Home")
					@RenderNavMenuItem("Форум", "Index", "Forum", "Forum")
				</ul>
			</div>
		</div>

		<div class="yashare-auto-init pull-right ths-social" data-yasharel10n="ru" data-yasharetype="small"
			data-yasharequickservices="vkontakte,facebook,twitter,gplus" data-yasharetheme="counter">
		</div>

		@RenderBody()
		<hr />
		<footer>
			<p>&copy; Thinking-Home.RU 2013-2016</p>
		</footer>
	</div>
	<script src="~/Scripts/jquery-2.1.1.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/share.min.js"></script>
	<script>
		$(function () { $('.js-btn-menu').click(function () { $('.js-menu').toggleClass('opened-nav-menu'); }); });
	</script>
</body>
</html>
