@model SimpleForum.Web.Models.Topic.TopicIndexModel

<div id="top"></div>

<ol class="breadcrumb">
	<li>@Html.ActionLink("Forum", "Index", "Forum")</li>
	<li>@Html.ActionLink(Model.SectionTitle, "Index", "Section", new { id = Model.SectionId }, null)</li>
	<li class="active">@Model.Subject</li>
</ol>

<h2>@Model.Subject</h2>
<hr />
<p>
	<a href="@Url.Action("Reply", "Write", new { id = Model.Id })" class="btn btn-primary">Post a reply</a>
</p>
<hr />

@Html.Partial("Message", Model)
<hr />

@foreach (var reply in Model.Replies)
{
	@Html.Partial("Message", reply)
	<p class="clearfix">
		<a class="btn btn-info btn-xs pull-right" href="#top">Top</a>
	</p>
	<hr />
}

<p>
	<a href="@Url.Action("Reply", "Write", new { id = Model.Id })" class="btn btn-primary">Post a reply</a>
</p>
