@model SimpleForum.Web.Models.Section.SectionIndexModel

<ol class="breadcrumb">
  <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
  <li class="active">@Model.Title</li>
</ol>

<h2>@Model.Title</h2>
<hr />

<p>
	<a href="@Url.Action("Topic", "Write", new { id = Model.Id })" class="btn btn-primary">Post a new topic</a>
</p>
<hr />

<table class="table">
	<colgroup>
		<col style="width: 42px;" />
		<col />
		<col />
		<col style="width: 30%;" />
	</colgroup>
	<thead>
		<tr>
			<th colspan="2">Topics</th>
			<th>Replies</th>
			<th>Last reply</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var topic in Model.Topics)
  {
			<tr>
				<td>
					<i class="fa fa-comments-o fa-2x text-muted"></i>
				</td>
				<td>
					<a href="@Url.Action("Index", "Topic", new { id = topic.Id })">@topic.Subject</a>
					<p>
						by <a href="#">@topic.AuthorDisplayName</a>
						on @topic.Created.ToShortDateString() @topic.Created.ToShortTimeString()
					</p>
				</td>
				<td>@topic.ReplyCount.GetValueOrDefault()</td>
				<td>
					@if (topic.LastReply != null)
	 {
						<text>
						by <a href="#">@topic.LastReply.AuthorDisplayName</a>
						on @topic.LastReply.Created.ToShortDateString() @topic.LastReply.Created.ToShortTimeString()
						</text>
	 }
	 else
	 {
						<text>No replies</text>
	 }
				</td>
			</tr>
  }
	</tbody>
</table>
<hr />

<p>
	<a href="@Url.Action("Topic", "Write", new { id = Model.Id })" class="btn btn-primary">Post a new topic</a>
</p>

