@model SimpleForum.Web.Models.Account.LoginModel

<ol class="breadcrumb">
  <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
  <li class="active">Login</li>
</ol>

<h2>Login</h2>
<hr />
<div class="row">
	@if (Model.HasError)
	{
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong>Warning!</strong> Login or password is invalid.
		</div>
	}

	<div class="col-xs-3">
		@using (Html.BeginForm())
		{
			<div class="form-group">
				@Html.LabelFor(m => m.Email)
				@Html.TextBoxFor(m => m.Email, new {@class = "form-control", type = "email", placeholder = "example@example.com"})
				@Html.ValidationMessageFor(m => m.Email, null, new {@class = "text-danger"})
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new {@class = "form-control", type = "password", placeholder = "your password"})
				@Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
			</div>
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(m => m.RememberMe)
					Remember me
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
			<p class="help-block">
				@Html.ActionLink("Register", "Registration") new user
			</p>
		}
	</div>
</div>
