@using SimpleForum.Web.Resources
@model SimpleForum.Web.Models.Account.RegistrationModel

@{
	ViewBag.Title = ViewResources.Registration_Title;
}

<ol class="breadcrumb">
	<li>@Html.ActionLink(ModelResources.Forum, "Index", "Forum")</li>
	<li class="active">@ViewResources.Registration_Title</li>
</ol>

<div class="pull-right">
	@{ Html.RenderAction("UserInfo", "Account");}
</div>

<h2>@ViewResources.Registration_Title</h2>
<hr />
<div class="row">

	<div class="col-xs-3">
		@using (Html.BeginForm())
		{
			<div class="form-group">
				@Html.LabelFor(m => m.DisplayName)
				@Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = ViewResources.Registration_DisplayNamePlaceholder })
				@Html.ValidationMessageFor(m => m.DisplayName, null, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Email)
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = ViewResources.Registration_EmailPlaceholder })
				@Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = ViewResources.Registration_PasswordPlaceholder })
				@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = ViewResources.Registration_ConfirmPasswordPlaceholder })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
			</div>
			<button type="submit" class="btn btn-primary">@ViewResources.Registration_RegisterBtnText</button>
		}
	</div>
</div>