@using SimpleForum.Web.Resources
@model SimpleForum.Web.Models.Forum.ForumIndexModel

<ol class="breadcrumb">
	<li class="active">@ModelResources.Forum</li>
</ol>
<div class="pull-right">
	@{ Html.RenderAction("UserInfo", "Account");}
</div>

<h2>@ModelResources.Forum</h2>
<hr />

<table class="table">
	<colgroup>
		<col style="width: 42px;" />
		<col />
		<col style="width: 8%;" />
		<col style="width: 12%;" />
		<col style="width: 30%;" />
	</colgroup>
	<thead>
		<tr>
			<th colspan="2"></th>
			<th>@ViewResources.Forum_Topics</th>
			<th>@ViewResources.Forum_Replies</th>
			<th>@ViewResources.Forum_LastReply</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var sectionModel in Model.Sections)
		{
			<tr>
				<td>
					<i class="fa fa-folder-open-o fa-2x text-muted"></i>
				</td>
				<td>
					<a href="@Url.Action("Index", "Section", new { id = sectionModel.Id })">@sectionModel.Title</a>
					<p class="help-block">@sectionModel.Description</p>
				</td>
				<td>@sectionModel.TopicCount.GetValueOrDefault()</td>
				<td>@sectionModel.ReplyCount.GetValueOrDefault()</td>
				<td>
					@if (sectionModel.LastReply != null)
					{
						<text>
							@ViewResources.Forum_by <a href="#">@sectionModel.LastReply.AuthorDisplayName</a>
							@ViewResources.Forum_in <a href="@Url.Action("Index", "Topic", new { id = sectionModel.LastReply.TopicId })">@sectionModel.LastReply.TopicSubject</a>
							@ViewResources.Forum_on @sectionModel.LastReply.Created.ToShortTimeString(), @sectionModel.LastReply.Created.ToShortDateString()
						</text>
					}
					else
					{
						<text>@ViewResources.Forum_NoReplies</text>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
