@using SimpleForum.Web.Helpers
@using SimpleForum.Web.Resources
@model SimpleForum.Web.Models.IMessageModel
<div class="row">
	<div class="col-md-2">
		<strong>
			<a href="#">@Model.AuthorDisplayName</a>
		</strong>
		<p class="help-block">
			@ViewResources.Message_on @Model.Created.ToShortTimeString(), @Model.Created.ToShortDateString()
		</p>
	</div>
	<div class="col-md-10">
		@Html.PrepareText(Model.Text)
	</div>
</div>
